@import './reset_style.css';
@import './fonts_style.css';
@import './print_style.css' print;
* {
  box-sizing: border-box;
  --font-fam: RocknRoll;
  --weight: bold;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: fixed;
  background-color: rgb(88, 68, 139);
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.2);
}

.nav-link {
  text-decoration: none;
  margin: 20px 10px 10px 10px;
  padding: 10px;
  color: white;
  font-family: var(--font-fam);
  font-weight: var(--weight);
  border-radius: 10px;
  transition-duration: 0.5s;
}
.nav-link:hover {
  box-shadow: 6px 7px 0px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  color: #e67686;
}
.nav-link:first-child {
  background-color: inherit;
}

.logo {
  width: 50px;
  height: 50px;
}

.register-md {
  font-family: var(--font-fam);
  font-weight: var(--weight);
  text-align: center;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  color: rgb(85, 84, 84);
}
p {
  font-size: 13px;
  color: rgb(105, 105, 105);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: no-repeat url(../img/2319927.svg);
  background-position: center;
  background-size: cover;
  box-shadow: 6px 7px 0px 1px rgba(0, 0, 0, 0.2);
}
.register {
  width: 400px;
  height: 500px;
  background-color: #fff;
  margin: 10px;
  padding: 15px;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(224, 221, 221);
}

.input {
  margin: 10px;
  width: 250px;
  border-radius: 5px;
  height: 35px;
  font-size: 16px;
  font-family: var(--font-fam);
  font-weight: var(--weight);
  color: rgb(133, 133, 133);
  border: 1px solid rgb(133, 133, 133);
}

.input:focus {
  border: 2px solid #58448b;
}

#submit {
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 40px;
  color: white;
  font-size: 18px;
  font-family: var(--font-fam);
  font-weight: var(--weight);
  background-color: #e67686;
  transition-duration: 0.5s;
}

#submit:hover {
  color: rgb(236, 233, 233);
  background-color: #7831d4;
  box-shadow: 10px 10px 3px 0px rgba(0, 0, 0, 0.1);
  transform: scale(1.1, 1.1);
}

.label {
  font-size: 14px;
  font-family: var(--font-fam);
  font-weight: var(--weight);
  color: rgb(133, 133, 133);
  margin: 15px;
}
.nasa {
  color: #f28656;
}
footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: var(--font-fam);
  font-weight: bold;
}

p {
}

span {
  color: #4c9b50;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  form {
    width: 80%;
  }
}
@media screen and (max-width: 320px) {
  form,
  .input {
    width: 80%;
  }
  .nav-link {
    padding: 5px;
    margin: 5px;
  }
}
